#container{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:stretch;
}
.items{
    background-color: lightcoral;
    margin: 10px;
    padding: 10px 20px;
    align-self: center;
    align-content: normal;
}
body{
    margin: 0;
}
.items:nth-child(even){
    background-color: aqua;
}