#paragraph{
    text-align: justify;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    border-width: 4px 2px 2px 4px;
    border-style: dashed dotted dashed dotted;
    border-color: blue red yellow rebeccapurple;

}
#submit{
    background-color: aqua;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* outline: none; */
}

#submit:hover{
    background-color: blueviolet;
    color: aliceblue;
}
#reset{
    cursor:not-allowed;
    opacity: .7;
    background-color: rgb(49, 56, 154);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: aliceblue;
}
input{
    border: none;
    outline: none;
}
body{
    height: 200vh;
}
