#main{
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

img{
    width: 90%;
    text-align: center;
}
p{
    width: 80%;
    text-align: center;
    margin-left: 10%;

}
aside{
    width: 30%;
    text-align: right;
    vertical-align: top;
    float: right;
    margin-right: 5%;

}
body{
    margin-top: 5%;
}
@media screen  and (max-width="720px"){
    #main{
        width: 60%;
        text-align: center;
        margin-top: 2%;
        margin-left: 5%;
        float: left;
    }
    img{
        width: 90%;
        text-align: center;
    }
    p{
        width: 80%;
        text-align: center;
        margin-left: 10%;
    
    }
    aside{
        width: 30%;
        text-align: right;
        vertical-align: top;
        float: right;
        margin-right: 5%;
    
    }
    body{
        margin-top: 5%;
    }
    
}